@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dependency Injection Lifetimes</h1>
    <h2>Refresh the page to see the difference in the IDs</h2>
    </br>
    <h3>Transient - New ID for every new request</h3>
    @ViewBag.message1
    </br>
    @ViewBag.message2

    <h3>Scoped - Same ID while in the same request</h3>
    @ViewBag.message3
    </br>
    @ViewBag.message4

    <h3>Singleton - Same ID for the whole application</h3>
    @ViewBag.message5
    </br>
    @ViewBag.message6
</div>
